/*The Odin Project -- Game Jam 2021
    SquidSquad
    coderlore
    iketaco
    AqueousOtter
*/
/* Game Specific Styling */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');
#main-navigation {
    margin: auto;
    position: absolute;
    color: white;
    font-family: GalaxyReg;
    font-size: xxx-large;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
#main-navigation p{
    flex: 1;
    text-align: center;
    margin: 0.1em 0;
    padding: 0.25em;
}
.main {
    top: 35%;
}
input {
    border: none;
    border-bottom: 2px white solid;
    padding: 8px;
    background-color: transparent;
    color: white;
    letter-spacing: 3px;
    text-align: center;
    font-size: x-large;
    outline: none;
}
#main-menu {
    margin: auto;
    position: absolute;
    font-family: GalaxyReg;
    font-size: xx-large;
    display: flex;
    margin-left: 0;
    padding: 0.8em 0.3em 0.3em 0.5em;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #7851a9;
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=144153'), move;
}
button:hover{
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=144153'), move;
}
html {
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=144156'), move;
}
.wordDisplay {
    letter-spacing: 15px;
    padding: .5em;
    margin: 4em auto 1.5em;
    border-bottom: 2px solid white;
}
#scoreDisplay {
    letter-spacing: 5px;
}

#highScoreDisplay {
    font-family: 'Space Mono', monospace;
    font-size: large;
    text-align: center;
    color: white;
}
#new{
    margin: 2em 0;
}
/* For hiding elements */
.hide {
    display: none;
}